# Dependencies
node_modules/
*/node_modules/

# Production builds
.next/
*/.next/
dist/
*/dist/
dist-electron/
*/dist-electron/
release/
*/release/
build/
*/build/

# Environment variables
.env
.env.*
*.env
*/.env
*/.env.*
!.env.example

# Temporary media
temp_upload/
*/temp_upload/

# OS files
.DS_Store
*/.DS_Store
Thumbs.db
